@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, #afadbfe7, #9b0de8c9, #ad00f8);
    font-size: 100%;
    overflow: hidden;
    
}

.conteudo_geral {
    display: flex;
    flex-direction: row;
    
}

.conteudo {
    display: flex;
    align-self: center; 
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
    width: 1000px;
 
}

.div_conteudo1 {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.textos {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.texto_1 {
    display: flex;
    text-align: justify;
    text-shadow: 0.5px 0.5px#d8d3ff;
    font-family: "Roboto Mono", monospace;
    padding: 20px;
    text-indent: 2em;
    margin-top: 25px;
    font-size: 16px;
}

.textos .texto_1 {
    width: 95%;
    height: 100%;
    border-left: solid #3b0062 1px;
}

.texto_2 {
    display: flex;
    text-align: justify;
    text-shadow: 0.5px 0.5px#d8d3ff;
    font-family: "Roboto Mono", monospace;
    padding: 20px;
    text-indent: 2em;
    font-size: 16px;
}

.textos .texto_2 {
    width: 95%;
    height: 100%;
    border-left: solid #3b0062 1px;
}

.titulo {
    display: flex;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
    text-shadow: 2px 2px #9fabfb;
    font-size: 50px;
    height: 60px;
}

#abaixo_nome {
    font-family: "Roboto Mono", monospace;
    background: linear-gradient(to right, #9fabfb, #6790e83d, #ae00f80a);
    text-shadow: 0.5px 0.5px#d8d3ff;
    font-size: 20px;
    height: 25px;
}

.div_conteudo2 {
    display: flex;
    background-color: #9fabfba3;
    border-left: solid #3b0062 1px;
    border-right: solid #3b0062 1px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.div_subtitulo {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 50px;
}
.subtitulo {
    font-family: "Roboto Mono", monospace;
    text-shadow: 0.6px 0.6px#d8d3ff;
    padding: 10px;
    text-align: center;
}

.subtitulo_apoio {
    font-family: "Roboto Mono", monospace;
    display: flex;
    font-size: 16px;
    text-align: center;
    align-items: center;
    text-shadow: 0.5px 0.5px#e6e3ff;
    height: 70px;
}

#sub_apoio2 {
    display: flex;
    padding-left: 27px;
}

.icones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 140px;    
}

.icone:hover {
    transform: scale(1.2); 
    background-color: #b301ff;
    outline-color: #b301ff;
    border-radius: 30%;
}

.icone {
    display: flex;
    border-radius: 10%;
    background-color: #bab3fb;
    outline: 7px solid #bab3fb;
    height: 40px;
    margin: 14px;
}

@media screen and (max-width: 1280px) {

    .texto_1 {
        font-size: 15px;
    }

    .texto_2 {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 1200px) {

    .texto_1 {
        font-size: 14px;
    }

    .texto_2 {
        font-size: 14px;
    }
    
    .div_conteudo2 {
        background-color: #0e1d8200;
    }

    .div_subtitulo {
        margin-top: 40%;
        margin-bottom: 40%;
    }

    .subtitulo_apoio {
        display: none;
    }
    
    #sub_apoio2 {
        display: none;
    }
    
    .icones {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width: 950px) {

    .back_img {
        width: 20%;
    }

    .conteudo {
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-self: end;
    }

    .div_conteudo1 {
        align-items: end;
        padding: 2%;
    }

    .titulo {
        font-size: 40px;
        margin-right: 2%;
        height: 10%;
    }

    #abaixo_nome {
        padding-right: 2.2%;
        font-size: 17px;
    }

    .textos {
        align-items: self-end;
        height: 35%;
        width: 80%;
    }

    .texto1 {
        padding: none;
    }

    .texto, .texto_1 {
        border-left: none;
        height: 50%;
    }

    .texto_2 {
        padding: none;
    }

    .texto, .texto_2 {
        border-left: none;
        height: 50%;
    }

    .div_conteudo2 {
        display: flex;
        align-items: end;
        border-left: none;
        border-right: none;
        padding-left: 33%;
        padding-bottom: 10px;
        width: 100%;
    }

    .div_subtitulo {
        display: none;
    }

    .icones {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
    }
    
    .icone {
        height: 50px;
        margin: 14px;
    }

}

@media screen and (max-width: 750px) {

    .texto_2 {
        display: none;
    }

    #abaixo_nome {
        padding-top: 15px;
        background: none;
    }

    .textos {
        align-items: self-end;
        height: 200;
        padding-top: 10%;
        padding-bottom: 10%;
        width: 350px;
        height: 80%;
    }

    .texto1 {
        padding: none;
    }

    .div_conteudo2 {
        padding-left: 27%;
    }

}

@media screen and (max-width: 680px) {
    .div_conteudo2 {
        padding-left: 23%;
    }
}

@media screen and (max-width: 640px) {
    .div_conteudo2 {
        padding-left: 0%;
    }
}

@media screen and (max-width: 500px) {

    body {
        background: linear-gradient(to right, #8a7affe7, #3806fe98, #ad00f8);
    }
    
    .back_img {
        align-self: first baseline;
        height: 60%;
    }

    .div_conteudo1 {
        justify-content: flex-start;
        align-items: center;
        justify-content: first baseline;
    }

    .titulo {
        align-self: flex-start baseline;
        font-size: 30px;
        margin-right: 7%;
        margin-top: 15%;
        height: 4%;
    }

    #abaixo_nome {
        background: none;
        font-size: 15px;
    }

    .textos {
        align-items: end;
        height: 50%;
        width: 400px; 
        padding-bottom: 0%;
        margin-right: 40%;
    }

    .textos .texto_1 {
        font-size: 17px;
        background-color: #b950ff64;
        border-left: none;
        height: 130%;
        margin-top: 25%;
    }

    .div_conteudo2 {
        width: 0%;
        height: 15%;
        padding-bottom: 40%;
    }
    
    .icone {
        outline: 5px solid #bab3fb;
        height: 50px;
        margin: 10px;
    }

}